{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Post</h1>
            <a href="{{ path('post_index') }}" class="btn btn-info pull-right" role="button">Back to the list</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Vote</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                    <td class="title">{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td><img style="width:200px" src="{{ asset('uploads/images/' ~ post.image) }}"/></td>
                    <td>{{ post.vote }}</td>
                    <td>
                        <div>
                            {{ form_start(delete_form) }}
                                <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-info" role="button" >edit</a>
                                <input type="submit" value="Delete" class="btn btn-danger" >
                            {{ form_end(delete_form) }}
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
{% endblock %}
